/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(11, 1, 19);
    font-family: verdana, helvetica;
}

.links path {
    stroke: #fff;
    stroke-opacity: 1;
}
  
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: rgb(0, 132, 255);
}
.view {
    stroke:none;
    fill:none;
}
.text text {
    font-size: 18px;
    fill: white;
}
.relation-text {
    font-size: 18px;
    fill: white;
}