.input-options {
    float: left;
    width: 100%;
    min-height: 60px;
    color: white;
    background: rgb(0, 132, 255);
}
.input-node-name {
    float: left;
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px; 
}

.input-node-select {
    float: left;
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

input {
    outline: none;
    border: none;
    background: none;
    color:rgb(255, 250, 250);
    border-bottom: 1px solid rgba(255, 255, 255, 0.822);
    height: 30px;
    width: 120px;
    text-align: center;
}
input::placeholder {
    color:rgba(226, 213, 213, 0.918);
    font-size: 12px;
}

.viewer {
    float: left;
    width: 100%;
    height: calc(100% - 150px);
    color: white;
}
.allen-result {
    float: left;
    width: calc(100% - 12px);
    height: auto;
    color: white;
    padding: 5px;
    font-size: 14px;
}
.allen-consistent {
    float: left;
    height: 100%;
    padding-left: 20px;
}
.allen-network {
    float: left;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}
#svg-viewer {
    width: 100%;
    height: 100%;
}
.input-node-add {
    float: left;
    height: 60px;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.822);
    cursor: pointer;
    width: 120px;
    text-align: center;
}
.input-node-add:hover {
    background: rgba(211, 17, 17, 0.863);
}

.input-node-reset {
    float: left;
    height: 60px;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.822);
    cursor: pointer;
    width: 120px;
    text-align: center;
}
.input-node-reset:hover {
    background: rgba(211, 17, 17, 0.863);
}

.input-node-execute-allen {
    float: left;
    height: 60px;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.822);
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.input-node-execute-allen:hover {
    background: rgba(211, 17, 17, 0.863);
}