<div class = "input-options">
  <div class = "input-node-name">
    <input #source type = "text" placeholder = "source name" (change) = "nodeToAdd.source = source.value">
  </div>
  <div class = "input-node-select">
    <input #relation type = "text" placeholder = "node relation" (change) = "nodeToAdd.relations = relation.value">
  </div>
  <div class = "input-node-name">
    <input #target type = "text" placeholder = "target name" (change) = "nodeToAdd.target = target.value">
  </div>
  <div class = "input-node-add" (click) = "addRelation()">
    Add
  </div>
  <div class = "input-node-execute-allen" (click) = "executeAllen()">
    Execute allen
  </div>
  <div class = "input-node-reset" (click) = "resetNetwork()">
    Reset
  </div>
</div>
<div class = "viewer">
  <svg id = "svg-viewer" width = '500' height = '500' ></svg>
</div>
<div class = "allen-result">
  <div *ngIf = 'allenResult'>
    <div class = "allen-consistent">
      {{ allenResultIsConsistent() }} {{ allenResultTime() }}
    </div>
    <div class = "allen-network">
      {{ allenResultNetwork() }}
    </div>
  </div>
</div>